<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="TestConfigurationObject" type="Configuration.KeyValueConfigurationSection, Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <TestConfigurationObject>
        <add key="TestString" value="default" />
        <add key="TestInt" value="10" />
        <add key="TestNullableInt" />
    </TestConfigurationObject>
    <connectionStrings>
        <add name="sampleDatabase" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=SampleDatabase;Integrated Security=True"/>
    </connectionStrings>
    <appSettings>
        <add key="sampleApplication" value="Configuration Sample"/>
    </appSettings>
</configuration>